<%- include('header') %>

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Edit Admin</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit Admin</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="form-horizontal" action="/admin/update-admin/<%= admin._id %>" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <h4 class="card-title">Personal Info</h4>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="firstname" value="<%= admin.firstname %>" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="lastname" value="<%= admin.lastname %>" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="email" value="<%= admin.email %>" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password" placeholder="Enter new password (leave blank to keep current)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="genderMale" name="gender" value="Male" <% if(admin.gender==='Male'){ %>checked<% } %>>
                                        <label class="custom-control-label" for="genderMale">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="genderFemale" name="gender" value="Female" <% if(admin.gender==='Female'){ %>checked<% } %>>
                                        <label class="custom-control-label" for="genderFemale">Female</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="genderOther" name="gender" value="Other" <% if(admin.gender==='Other'){ %>checked<% } %>>
                                        <label class="custom-control-label" for="genderOther">Other</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Hobbies</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" name="hobbies[]" value="Music" class="custom-control-input" id="hobbyMusic" <% if(admin.hobbies?.includes('Music')){ %>checked<% } %>>
                                        <label class="custom-control-label" for="hobbyMusic">Music</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" name="hobbies[]" value="Adventure" class="custom-control-input" id="hobbyAdventure" <% if(admin.hobbies?.includes('Adventure')){ %>checked<% } %>>
                                        <label class="custom-control-label" for="hobbyAdventure">Adventure</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" name="hobbies[]" value="Cooking" class="custom-control-input" id="hobbyCooking" <% if(admin.hobbies?.includes('Cooking')){ %>checked<% } %>>
                                        <label class="custom-control-label" for="hobbyCooking">Cooking</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Image</label>
                                <div class="col-md-9">
                                    <% if(admin.image){ %>
                                        <img src="<%= admin.image %>" width="100" class="mb-2"><br>
                                    <% } %>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" id="validatedCustomFile">
                                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">Update Admin</button>
                                <a href="/admin/view-admin" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
